/*
Description:
		1 - Including files ("fonts.css", "reset.css" and others)
		2 - Tags styles and General styles
		3 - header
		4 - .content
		5 - footer
		* - @media rules
*/


/* 1 - BEGIN of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */

@font-face {
	font-family: 'Panton';
	src: url('fonts/Panton/Panton-Regular.eot');
	src: url('fonts/Panton/Panton-Regular.eot') format('embedded-opentype'),
		 url('fonts/Panton/Panton-Regular.woff') format('woff'),
		 url('fonts/Panton/Panton-Regular.ttf') format('truetype'),
		 url('fonts/Panton/Panton-Regular.svg#Panton') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Panton';
	src: url('fonts/Panton/Panton-Bold.eot');
	src: url('fonts/Panton/Panton-Bold.eot') format('embedded-opentype'),
		 url('fonts/Panton/Panton-Bold.woff') format('woff'),
		 url('fonts/Panton/Panton-Bold.ttf') format('truetype'),
		 url('fonts/Panton/Panton-Bold.svg#Panton') format('svg');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Panton';
	src: url('fonts/Panton/Panton-BoldItalic.eot');
	src: url('fonts/Panton/Panton-BoldItalic.eot') format('embedded-opentype'),
		 url('fonts/Panton/Panton-BoldItalic.woff') format('woff'),
		 url('fonts/Panton/Panton-BoldItalic.ttf') format('truetype'),
		 url('fonts/Panton/Panton-BoldItalic.svg#Panton') format('svg');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Panton-BlackItalic';
	src: url('fonts/Panton/Panton-BlackItalic.eot');
	src: url('fonts/Panton/Panton-BlackItalic.eot') format('embedded-opentype'),
		 url('fonts/Panton/Panton-BlackItalic.woff') format('woff'),
		 url('fonts/Panton/Panton-BlackItalic.ttf') format('truetype'),
		 url('fonts/Panton/Panton-BlackItalic.svg#Panton-BlackItalic') format('svg');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Panton-Black';
	src: url('fonts/Panton/Panton-Black.eot');
	src: url('fonts/Panton/Panton-Black.eot') format('embedded-opentype'),
		 url('fonts/Panton/Panton-Black.woff') format('woff'),
		 url('fonts/Panton/Panton-Black.ttf') format('truetype'),
		 url('fonts/Panton/Panton-Black.svg#Panton-Black') format('svg');
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'Panton';
	src: url('fonts/Panton/Panton-Light.eot');
	src: url('fonts/Panton/Panton-Light.eot') format('embedded-opentype'),
		 url('fonts/Panton/Panton-Light.woff') format('woff'),
		 url('fonts/Panton/Panton-Light.ttf') format('truetype'),
		 url('fonts/Panton/Panton-Light.svg#Panton') format('svg');
	font-style: normal;
	font-weight: 200;
}
/* BEGIN of CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}


/* END of CSS RESET */


/* 1 - END of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */


/* 2 - BEGIN of Tags and General styles ---------------------------------------------------------- */

body {
	margin: 0 auto;
	font-family: "Panton";
	font-size: 15px;
	font-weight: normal;
}

header .container {
	max-width: 1170px;
}

.content .container {
	max-width: 1470px;
}

footer .container {
	max-width: 1470px;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

a:hover {
	opacity: 0.8;
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:active {
	opacity: 0.65;
	outline: none;
	color: inherit;
	text-decoration: none;
}

a:focus,
a:visited {
	outline: none;
	color: inherit;
	text-decoration: none;
}

button:hover,
input:hover,
select:hover {
	opacity: 0.8;
}

strong {
	font-weight: 500;
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 32px;
}


h4 {
	font-size: 60px;
	font-style: italic;

}

h5 {
	font-size: 36px;
	font-style: italic;
}

h6 {
	font-size: 24px;

}

.clear:before,
.clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide,
.hidden {
	display: none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* 2 - END of Tags styles and General styles ---------------------------------------------------------- */

/* 3 - BEGIN of header ---------------------------------------------------------- */
	
	header {
		background: url(img/main-image01.jpg) no-repeat;
		background-position: top;
		background-size: cover;
	}

	header .logo {
		padding: 41px 0 35px 0;
		float: left;
	}

	header .log-set a:last-child {
		color: #ffffff;
		background-color: #f00000;
		font-size: 12px;
		float: right;
		padding: 20px 17px 20px 17px;
		max-width: 172px;
		border-bottom-right-radius: 7px;
  		border-bottom-left-radius: 7px;
	}

	header .log-set .fa-trophy {
		float: left;
		color: #f00000;
		margin: 3px 11px 0 0;
		border-radius: 50%;
		border: 6px solid #ffffff;
		background-color: #ffffff;
	}

	header .log-set a:first-child {
		color: #ffffff;
		font-size: 14px;
		float: left;
		padding: 25px 35px 0 0;
	}

	header .log-set {
		float: right;
	}

	.dropdown:hover .dropdown-menu {
    	display: block;
	}

	.navbar-default {
		background: none;
		border: none;
		border-bottom: 2px solid #a1a1a1;
		padding: 0 19px;
	}

	.navbar {
		min-height: auto;
		top: -2px;
	}

	.navbar-default a:hover {
		color: #ffffff;
	}

	.navbar-collapse ul {
		width: 100%;
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		float: none;
		bottom: -2px;
	}

	.navbar-collapse li {
		display: inline-block;
		float: none;
	}

	.navbar-default .dropdown-menu li > a {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.navbar-default .navbar-nav > li > a {
		color: #b3b3b3;
		padding-top: 0;
		margin-left: 14px;
		padding-bottom: 6px;
	}

	.navbar-default .navbar-nav > li > a:hover {
		color: #ffffff;
	}

	.dropdown-menu {
		padding: 0;
	}

	.dropdown {
		border-left: 2px solid rgba(0, 0, 0, 0);
	}

	.nav-pills > li > a {
		border-radius: 0px;
	}

	.dropdown:hover {
		border-left: 1px solid #ffffff;
		background: inherit;
	}

	.dropdown-toggle:hover {
		border-bottom: 2px solid #ff7200;
	}

	.dropdown-menu > li > a,
	.dropdown-menu > li > a:hover, 
	.dropdown-menu > li > a:focus {
		background: inherit;
		padding-left: 30px;
		color: #ffffff;
	}

	.dropdown-menu li {
		border-radius: initial;
		border-left: 1px solid #ffffff;
		margin-left: -1px;
		min-width: 200px;
	}

	.dropdown-menu > li:hover {
		background: #ff7200;
	}

	.navbar-default .navbar-nav > .open > a {
		background: inherit;
		color: #ffffff;
	}

	.dropdown-menu {
		background: inherit;
		border: none;
		box-shadow: none;
	}

	.caret {
		display: none;
	}

	header .form-control {
		box-shadow: none;
		border: none;
		background: inherit;
		padding-left: 130px;
		color: #ffffff;
	}

	.form-control:hover,
	.form-control:focus {
		box-shadow: none;
	}

	.slider h2 {
		color: #ffffff;
		background: #f00000;
		display: inline-block;
		padding: 0 26px;
	}

	.slider h1,h3 {
		color: #ffffff;
		float: left;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 5px 20px 5px 20px;
	}

	.slider h3 {
		padding-top: 12px;
	}

	.slider h1 {
		font-family: "Panton";
		font-style: italic;
		margin: 5px 0 5px 0;
	}

	.event-info {
		color: #ffffff;
		font-size: 15px;
		display: block;
		margin: 0 auto;
		margin-top: 181px;
		padding: 10px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0.6);
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	.event-info div {
		margin: 0 auto;
		text-align: left;
		display: inline-block;
	}

	.event-info a {
		color: #ff7200;
	}

	.event-info i {
		vertical-align: top;
		padding-right: 10px;
	}

	.nav-fixed .form-control {
		box-shadow: none;
		border: none;
		background: inherit;
		padding:  5px 8px;
		color: #ffffff;
	}

	.nav-fixed {
		background: #000000;
		border: none;
		width: 100%;
		
		border-radius: 0px;
		z-index: 999;
		height: 65px;
	}

	.nav-fixed .container-fluid {
		max-width: 1170px;
	}

	.nav-fixed ul {
		border-bottom: 2px solid #ff7200;
		float: left;
		margin-left: 35px;
		max-width: 800px;
	}

	.nav-fixed .navbar-nav > li > a {
		margin-left: 0px;
		padding-top: 20px;
	}

	.nav-fixed img {
		padding-top: 15px;
		float: left;
	}

	.nav-fixed .dropdown-menu > li > a {
		background: #000000;
	    color: #ffffff;
	}

	.nav-fixed .dropdown li {
		margin-left: -36px;
	}

	.nav-fixed .dropdown-menu > li > a:hover,
	.nav-fixed .dropdown-menu > li > a:focus {
	    background: #ff7200;
	}

	.nav-fixed .dropdown:hover {
	   	border-left: 1px solid #ffffff;
	    right: -1px;
	}

	.dropdown-menu li {
	    border-radius: initial;
	    border-left: 1px solid #ffffff;
	}

/*- Modal window----------------------------------------------------------------*/
	
	header .modal .modal-body {
		background: #ffffff;
		max-width: 728px;
		display: block;
		margin: 100px auto;
		padding: 0px;
	}

	header .modal .left-side {
		background-image: url(img/modal-bg.png);
		background-size: 100%;
		color: #ffffff;
		text-align: center;
		width: 50%;
		float: left;
		padding: 0 15px 0 15px;
	}

	header .modal .left-side .close {
		float: left;
		color: #ffffff;
		opacity: 1;
		padding: 16px 0 0 0;
	}

	header .modal  .close:hover {
		opacity: 0.7;
	}

	header .modal-logo {
		padding:  62px 0 0 42px;
		display: block;
	}

	header .left-side span {
		font-size: 72px;
		display: block;
		padding-top: 55px;
	}

	header .left-side p:first-child {
		font-size: 18px;
	}

	header .modal-reward {
		display: inline-block;
		margin-top: 0 auto;
		padding: 25px 0 24px 0;
		margin-left: -42px;
	}

	header .left-side .modal-reward img {
		display: inline-block;
		float: left;
		clear: left;
		padding-top: 25px;
	}

	header .modal-reward p {
		float: left;
		clear: right;
		margin-top: 38px;
		margin-left: 10px;
	}

	header .modal-body {
		background: #373737;
	}

	header .tab-content > .tab-pane {
		display: block;
		height: 100%;
	}

	header .right-side {
		width: 50%;
		float: right;
		background: #ffffff;
		text-align: center;
	}

	header .right-side .nav-tabs > li > a {
		border-radius: 0px;
		margin: 0;
	}

	header .right-side .nav-tabs > li {
		border-radius: 0px;
		margin: 0;
		width: 50%;
		background: #373737;
		color: #ffffff;
		text-align: center;
		max-height: 41px;
		overflow: hidden;
	}

	header .right-side .nav-tabs {
		border: none;
	}

	header .tab-content div:first-child span {
		text-align: center;
		display: block;
		padding-top: 22px;
	}

	header .tab-content .tab-link {
		text-align: center;
		display: block;
		color: #ff7200;
		padding-bottom: 20px;
	}

	header .tab-content .facebook-link {
		margin: 0 auto;
		display: inline-block;
		text-align: center;
		color: #ffffff;
		background: #3b5998;
		padding: 10px 75px;
		border-radius: 4px;
		background-image: url(img/fb-log.png);
		background-position: 20px 10px;
		background-repeat: no-repeat;
		margin-bottom: 12px;
	}

	header .right-side .tab-content  p {
		padding-bottom: 40px;
	}

	header .tab-content .form-control {
		padding-left: 10px;
		border: 1px solid #dbdbdb;
		border-radius: 0px;
		max-width: 310px;
		margin: 0 auto;
		color: #000000;
	}

	header .tab-content .btn {
		margin: 0px auto 148px auto;
		padding: 7px 0 7px 0;
		border-radius: 0px;
		max-width: 310px;
	}

	header .tab-content .tab-link-p {
		text-align: left;
		color: #ff7200;
		font-size: 12px;
		padding: 25px 0 0 35px;
		display: block;
	}

	.nav > li > a:hover,
	.nav > li > a:focus {
		border-bottom: 1px solid #ff7200;
	}

/* 3 - END of header ---------------------------------------------------------- */
/* 4 - BEGIN of .content ---------------------------------------------------------- */

	.content h4 {
		font-family: "Panton-BlackItalic";
		text-align: center;
	}

	.top-text {
		max-width: 1170px;
		margin: 0 auto;
	}

	.content .top-text h5:first-child {
		padding-left: 95px;
		padding-top: 78px;
	}

	.content .top-text h5:last-child {
		text-align: right;
		padding-right: 115px;
		padding-bottom: 57px;
		font-style: normal;
		font-weight: bold;
	}

	.content .presenters .special-guests {
		padding-top: 0px;
		margin-top: 0px;
	}

	.content iframe {
		width: 875px;
		height: 600px;
		margin: 0 auto;
		display: block;
		padding-bottom: 110px;
	}

	.au-sports {
		background: url(img/au-sports.jpg) no-repeat;
		background-size: cover;
		width: 50%;
		color: #ffffff;
		float: left;
		display: block;
		text-align: center;
	}

	.au-weekend {
		background: url(img/au-weekend.jpg) no-repeat;
		background-size: cover;
		float: right;
		width: 50%;
		display: block;
		color: #ffffff;
		text-align: center;
	}

	.au-weekend h2,
	.au-sports h2 {
		padding-top: 170px;
		font-family: "Panton-Black";
	}

	.au-weekend a,
	.au-sports a {
		padding: 10px 30px;
		margin-bottom: 140px;
		font-size: 30px;
		font-family: "Panton";
		font-weight: bold;
		display: inline-block;
		background: url(img/au-bg.png) no-repeat;
	}

	.au-weekend a:hover,
	.au-sports a:hover {
		background: none;
		outline: 1px solid #ffffff;
	}

	.content .presenters h2 {
		font-weight: bold;
	}

	.content .presenters h6 {
		margin-top: 70px;
	}

	.content .presenters .n-color {
		color: #ff7200;
	}

	.content .presenters .present {
		font-family: "Panton-Black";
	}
	.content .presenters span {
		padding-left: 110px;
	}

	.content .au-community img {
		margin-bottom: -4px; 
	}

	.content .au-community div {
		position: absolute;
		display: block;
		text-align: center;
		float: none;
		right: 0;
		left: 0;
		padding-top: 12.5%;
	}

	.content .au-community {
		margin-top: 85px;
	}

	.content .au-community h2 {
		position: relative;
		font-family: "Panton-Black";
		color: #ffffff;
	}

	.content .au-community a {
		font-size: 30px;
		background: #ff7200;
		position: relative;
		display: inline-block;
		color: #ffffff;
		padding: 8px 30px;
		margin-bottom: 55px;
	}

	.content .au-community a:hover {
		background: no-repeat;
		outline: 1px solid #ffffff;
	}

	.content .insta-head {
		background: #262626;
		color: #ffffff;
	}

	.content .insta-head i {
		padding: 15px 45px 15px 150px;
		vertical-align: middle;
		font-size: 70px;
	}

	.content .insta-head a {
		font-weight: 200;
		font-size: 33px;
		vertical-align: middle;
	}

	.content .photo-inst {
		display: inline-block;
	    overflow: hidden;
		text-align: center;
	}

	.content .inst-set {
		background: #262626;
	}

	.content .photo-inst img {
		width: 285px;
		height: 290px;
		display: block;
		-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	}

	.content .photo-inst img:hover {
		-webkit-filter: blur(1px);
		opacity: 0.5;
	}

	.content .support {
		background: #ff7200;
		background-image: url(img/support-icon.png);
		background-repeat: no-repeat;
		background-position: 150px;
		background-size: 50px 50px;
		color: #ffffff;
		font-weight: normal;
		display: block;
	}

	.content .support a {
		padding-left: 222px;
		float: left;
		clear: left;
		font-size: 27px;
	}

	.content .support a:first-child {
		padding-top: 15px;
	}

	.content .form-inline {
		float: right;
		padding: 0 150px 25px 0;
		margin-top: -25px;
	}

	.content .support .form-control {
		padding-top: 26px;
		padding-bottom: 26px;
	}

	.content .support  span {
		font-size: 24px;
		padding-right: 20px;
		vertical-align: text-top;
	}

	.content .support input {
		border: none;
		border-radius: 0px;
		box-shadow: none;
		font-size: 26px;
	}

	.content .support button,
	.content .support .btn {
		border-radius: 0px;
		margin-left: -4px;
		outline: none;
		border: none;
		padding: 13px 34px;
		background: #2b2b2b;
		color: #ffffff;
		font-size: 18px;
	}

	.content .support button:hover {
		outline: 1px solid #ffffff;
	}

/* 4 - END of .content ---------------------------------------------------------- */
/* 5 - BEGIN of footer ---------------------------------------------------------- */

	footer {
		background: #252525;
		color: #ffffff;
		min-height: 80px;
		padding-bottom: 40px;
		font-family: "Panton";
		font-weight: normal;
		font-style: normal;
		font-size: 14px;
	}

	.footer-log {
		padding: 83px 0 30px 150px;
		display: inline-block;
	}

	.col-logo p {
		font-size: 12px;
		max-width: 250px;
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 148px;
		display: block;
	}

	.social-link {
		display: block;
		text-align: center;
		margin-left: 120px;
		float: left;
		padding-top: 35px;
		padding-bottom: 55px;
		font-size: 16px;
	}

	.social-link a {
		padding-left: 26px;
	}

	.col-contact a,
	.col-sports a,
	.col-weekend a {
		display: block;
		font-size: 14px;
		line-height: 22px;
		color: #7d808a;
	}

	.col-weekend h5 {
		font-size: 14px;
		font-style: normal;
		padding-top: 40px;
	}

	.col-weekend h5:last-child {
		padding-top: 16px;
	}

	.col-contact h5,
	.col-sports h5,
	.col-weekend h5:first-child {
		font-size: 14px;
		font-style: normal;
		padding-top: 0px;
		margin-bottom: 33px;
	}

	.col-contact a {
		line-height: 18px;
	}

	.col-contact,
	.col-sports,
	.col-weekend {
		padding-top: 80px;
	}

/* 5 - END of footer ---------------------------------------------------------- */
/* * - BEGIN of @media ---------------------------------------------------------- */

@media screen and (min-width: 1200px){
	.container {
	    width: 100%;
	}

	.nav-fixed .navbar-nav > li > a {
    	padding-left: 5px;
	}

}
@media screen and (max-width: 1199px) {

	.event-info a {
		font-size: 17px;
	}

	.container-fluid {
		padding: 0;
	}

	.navbar-default .navbar-nav > li > a {
		margin-left: 0px;
	}

	header .form-control {
		padding-left: 0px;
	}

	.event-info {
		padding: 10px 4px;
	}

	.nav-fixed .container-fluid {
		padding: 0px;
	}

	.nav-fixed ul {
		margin-left: 0;
	}

	.nav-fixed img {
		width: 11%;
		padding-right: 15px;
	}

	.nav-fixed .dropdown li {
		margin-left: -1px;
	}

	.nav-fixed {
		padding: 0;
	}

	.nav-fixed .navbar-nav > li > a {
    	padding-left: 5px;
	}

	.content .left-support {
		width: 100%;
		position: relative;
	}

	.content .right-support {
		position: relative;
		width: 100%;
	}

	.content .form-inline {
		float: none;
		padding: 20px;
		margin: 0;
	}

	.content .support a {
		padding: 0;
		float: none;
		display: block;
		text-align: center;
		padding: 10px;
	}

	.content .support{
		background-position: 25% 25%;
	}

@media screen and (max-width: 991px) {

	.navbar-collapse,
	.navbar-default {
		padding: 0;
	}

	.nav > li > a {
		padding: 0px 6px;
	}

	.nav-fixed ul {
		float: none;
		font-size: 12px;
	}

	.content iframe {
		width: 100%;
	}

	.presenters h2 {
		font-size: 40px;
	}

	.presenters h6 {
		font-size: 16px;
	}

	.content .support span {
		font-size: 20px;
	}

	.footer-log {
		padding-left: 30px;
	}

	.col-logo p {
		margin-left: 30px;
	}

	.social-link {
		margin-left: 0px;
	}

	.modal-body .nav > li > a {
		padding: 10px 15px;
	}

	header .modal .modal-body {
		max-width: 700px;
	}
}

@media screen and (max-width: 767px) {

	.social-link a {
		padding-left: 14px;
	}

	.event-info i {
		float: left; 
	}

	.event-info a {
		float: left; 
		font-size: 12px;
	}

	.event-info span {
		float: left; 
		font-size: 10px;
	}

	header .modal .modal-body {
		max-width: 400px;
	}

	header .modal .left-side {
		display: none;
	}

	header .modal .right-side {
		width: 100%;
	}

	header .modal .left-side .close {
		width: 25px;
		padding: 0;
		margin: 15px;
	}

	header .modal-logo {
		padding: 0;
	}

	header .tab-content .btn {
		margin: 0 auto 30px auto;
	}

	.navbar-collapse li {
		display: block;
		text-align: center;
		font-size: 18px;
		padding-top: 10px;
	}

	.navbar-nav {
		margin: 0 auto;
		overflow: visible;
	}

	.navbar-collapse {
		border: none;
	}

	.navbar-default .navbar-collapse,
	 .navbar-default .navbar-form {
	 	overflow: visible;
	 }

	 .navbar-default .navbar-toggle {
	 	border: none;
	 	border: 1px solid #ffffff;
	 }

	 .navbar-default .navbar-toggle:focus, 
	 .navbar-default .navbar-toggle:active, 
	 .navbar-default .navbar-toggle:hover {
	 	border: 1px solid #ffffff;
	 	background: none;
	 }

	 .navbar-default .navbar-toggle .icon-bar {
	 	background: #ffffff;
	 }

	 .dropdown-menu {
	 	position: relative;
	 }

	 .dropdown li,
	 .dropdown:hover {
	 	border: none;
	 }

	 .navbar-default .navbar-nav > li > a:focus,
	 .navbar-default .navbar-nav > li > a:hover {
	 	border: none;
	 }

	header .form-control {
	 	margin: 0;
	 	padding: 10px;
	 	float: none;
	 	display: inline-block;
	 	max-width: 140px;
	 	border-bottom: 1px solid #b3b3b3;
	 	border-radius: 0px;
	 	right: 50%;
	 	text-align: center;
	 }

	 header .form-control:focus,
	 header .form-control:hover {
	 	border-color: #ffffff;
	 }

	 .navbar-default .search-box {
	 	position: absolute;
	 	top: 0;
	 }

	 .navbar-default .navbar-nav .search-box:last-of-type {
	 	margin-top: 10px;
	 	margin-left: 140px;
	 }

	 .slider h2 {
	 	font-size: 35px;
	 }

	 .slider h1 {
	 	font-size: 30px;
	 }

	 .slider h3 {
	 	font-size: 20px;
	 }

	 .event-info {
	 	margin-top: 60px;
	 	text-align: center;
	 }

	 .event-info div {
	 	padding-top: 5px;
	 }

	 .nav-fixed {
	 	display: none;
	 }

	 .content .au-weekend,
	 .content .au-sports {
	 	width: 100%;
	 }

	 .content .presenters h2 {
	 	font-size: 30px;
	 }

	 .content .presenters span {
	 	padding-left: 30px;
	 }

	 .content .presenters h6 {
	 	margin-top: 40px;
	 }

	 .content .au-community h2 {
	 	font-size: 25px;
	 }

	 .content .au-community a {
	 	font-size: 15px;
	 }

	 .content .insta-head {
	 	text-align: center;
	 	padding-top: 10px;
	 	padding-bottom: 10px;
	 }

	 .content .insta-head i,
	 .content .insta-head a {
	 	text-align: center;
	 	float: none;
	 	margin: 0 auto;
	 	padding: 0;	
	 }

	 .content .insta-head a {
	 	padding-left: 20px;
	 }

	 .content .support {
	 	background-position: 20px 10px;
	 }

	 .content .support button, 
	 .content .support .btn {
	 	margin-left: 0px;
	 }

	 footer .col-sports,
	 footer .col-contact {
	 	width: auto;
	 }

	 .content .top-text h5 {
	 	font-size: 16px;
	 }
	 .content .top-text h4 {
	 	font-size: 30px;
	 }
}

@media screen and (max-width: 550px) {

	header .logo {
		max-width: 40%;
	}

	header .log-set {
		display: none;
	}

	header .logo {
		position: absolute;
		width: 20%;
		z-index: 999;
		left: 40%;
		padding: 15px 0 0 0;
	}

	.navbar-default .navbar-toggle {
		float: left;
		margin: 15px;
		border: none;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		border: none;
	}

	.navbar-default .search-box {
		right: 0;
		padding-right: 15px;
		position: fixed;

	}

	header .navbar-default {
		background-color: #000000;
		color: #ffffff;
		border: none;
		width: 100%;

	}

	.nav-fixed {
		display: none;
	}

	header .form-control {
		border: none;
	}

	.navbar-default .navbar-nav .search-box:last-of-type {
		margin-top: 5px;
	}

	.slider h2 {
		font-size: 18px;
		padding: 3px 10px;
	}

	.slider h1 {
		font-size: 20px;
		padding: 10px 10px;
	}

	.slider h3 {
		font-size: 12px;
		padding: 5px 10px;
	}

	.content .top-text h5:first-child {
		padding-top: 20px;
		padding-left: 0px;
	}

	.content .top-text h4 {
		font-size: 27px;
	}

	.content .top-text h5:last-child {
		padding-right: 0px;
		padding-bottom: 20px;
	}

	.content iframe {
		padding-bottom: 30px;
		width: 320px;
		height: 312px;
	}

	.content .au-community {
		margin-top: 30px;
	}

	.content .insta-head {
		float: left;
		padding-left: 15px;
	}

	.content .insta-head i {
		font-size: 40px;
	}

	.content .photo-inst img {
		width: 100%;
		height: auto;
	}

	.content .left-support {
		padding-top: 10px;
	}

	.content .support {
		background-position: 60px 20px;
	}

	.content .support a {
		padding: 0px;
		text-align: left;
		float: none;
		display: inline-block;
		margin-left: 30%;
		font-size: 20px;
	}

	.content .support .form-control {
		max-width: 250px;
		float: left;
		padding-top: 11px;
		margin-left: 20px;
	}

	.content .support button,
	.content .support .btn {
		padding: 6px 15px;
	}

	.content .support span {
		font-size: 15px;
		padding-left: 20px;
	}

	.content .form-group {
		margin-bottom: 0px;
	}

	footer .col-logo {
		width: 100%;
	}

	footer .footer-log {
		padding: 40px 0 20px 0;
		text-align: center;
		display: block;
	}

	.col-logo p {
		margin: 0 auto;
		text-align: left;
		max-width: 70%;
	}

	footer .social-link {
		padding: 20px 0 0 0;
		text-align: center;
		width: 100%;
	}

	footer .social-link a {
		padding: 0px 20px;
		text-align: center;
	}

	.col-contact, 
	.col-sports, 
	.col-weekend {
		padding-top: 20px;
	}

	.navbar-header  {
		margin: 0;
	}

	header {
		background-image: url(img/small-bg.png);
	}

	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}

	.event-info {
	    padding: 10px 4px;
	    margin-left: 15px;
	    margin-right: 15px;

	}

	header .navbar-default {
		width: auto;
	}


	header .container {
		padding: 0;
	}

	.col-contact,
	.col-sports,
	.col-weekend {
		width: 50%;
		padding-left: 25px;
	}
}

@media screen and (max-width: 380px) {

	.modal .modal-open {
		display: none;
	}

	.content iframe {
		max-width: 260px;
		height: 200px;
	}

	.event-info div {
		width: 50%;
		padding: 5px;
	}

	.content .top-text h4 {
		font-size: 17px;
	}

	.content .top-text h5 {
		font-size: 10px;
	}

	.content .top-text h5:first-child {
		padding-left: 5px;
	}

	.au-weekend h2, 
	.au-sports h2 {
		font-size: 25px;
	}

	.au-weekend a, 
	.au-sports a {
		font-size: 12px;
	}

	.content .presenters h2 {
		font-size: 16px;
	}

	.content .presenters h6 {
		font-size: 12px;
	}

	.content .au-community div {
		padding-top: 5%;
	}

	.content .au-community h2 {
		font-size: 16px;
	}

	.content .au-community a {
		font-size: 10px;
	}

	.content .support {
	    background-position: 10px 20px;
	}

	.content .support a {
		font-size: 14px;
	}

	.content .support .form-control {
		max-width: 120px;
		padding: 1px 5px;
		font-size: 14px;
	}

	.content .support button, .content .support .btn {
		padding: 5px 10px;
	}

	footer .social-link a {
		padding: 0 10px;
	}
}
/* ----------------------------------------------------------------------------------- */



/* * - END of @media ---------------------------------------------------------- */